header{
    background: #dcdcdc;
    padding: 8px;
    border-bottom: 1px solid #6767677c;
}

#lch{
    display: flex;
    align-items: center;
}

#logo img{
    width: 35px;
}

#research{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}